* {
    margin: 0;
    padding: 0;
    font-family: Times New Roman;
}
/*HEADER*/
#header {
    display: flex;
    justify-content: left;
    list-style: none;
}

#header #logo {
    width: 180px;
    height: 180px;
}
#header .link_header {
    margin-top: 80px;
    padding-right: 60px;
    font-size: 25px;
}
#header a:hover{
    color: black;
    font-style: italic;
}
#header #search {
    padding-left: 500px;
}
#header input {
    padding: 5px 5px 0px 5px;
    margin-left: 5px;
    border: 3px solid orangered;
    border-radius: 10px;
    width: 350px;
    height: 20px;
    font-size: 18px;
    font-style: italic;
}
#header a {
    text-decoration: none;
    color: orangered;
    font-weight: bold;
}

/*FOOTER*/
#footer {
    display: flex;
    justify-content: left;
    text-decoration: none;
    color: white;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
}
#footer #content_footer {
    width: 490px;
    margin-left: 40px;
    margin-right: 50px;
}
#footer #links_footer {
    list-style: none;
    margin-right: 50px;
}
#footer #links_footer .link_footer {
    text-decoration: none;
    color: darkgrey;
}
#footer #categories {
    list-style: none;
    margin-right: 70px;
}
#footer #contact {
    margin-right: 40px;
}
#footer h4 {
    padding-bottom: 10px;
}
#footer #contact a {
    text-decoration: none;
    color: darkgrey;
}

/*POST*/
.post-grammar {
    line-height: 1.5;
}
.post-content {
    display: flex;
    justify-content: left;
    padding: 50px 0 40px 40px;
}
/*NOI DUNG BAI POST*/
#post-info {
    padding: 0 40px 0 0;
    font-size: 18px;
    width: 70%;
}
#post-info h1 {
    color: #4F4F65;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}
#post-info #post-date{
    display: flex;
    justify-content: left;
    font-style: italic;
    font-weight: bold;
    color: orangered;
}
#post-date time {
    padding-right: 40px;
}

    /*LINKS - RIGHT SIDEBAR*/
h2 {
    font-size: 20px;
    font-weight: bold;
}
.post-links {
    width: 25%;
}
#author {
    border: 1px solid lightgrey;
    padding: 15px;
    border-radius: 10px;
    background-color: whitesmoke;
}

#author p{
    font-size: 18px;
}
#categories-post {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 15px;
    margin-top: 30px;
    background-color: whitesmoke;
}
#categories-post ul {
     list-style: none;
     font-size: 16px;
 }
#categories-post ul a {
    text-decoration: none;
    font-size: 18px;
}
#latest-post {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 15px;
    margin-top: 30px;
    background-color: whitesmoke;
}
#latest-post ul {
    list-style: none;
    font-size: 16px;
}
#latest-post ul a {
    text-decoration: none;
    font-size: 18px;
}

/*COMMENT*/
.comment {
    padding: 100px 40px;
}
.comment h3 {
    font-size: 25px;
    color: #4F4F65;
    font-weight: 900;
    margin-bottom: 20px;
}
.comment textarea {
    width: 50%;
    height: 100px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: #F7F8F9;
    font-size: 18px;
    padding: 10px 15px;
    margin-bottom: 10px;
}
.comment .info_comment {
    padding: 10px 15px;
    width: 25%;
    margin-bottom: 10px;
    font-size: 18px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: #F7F8F9;
}
.comment #notify {
    font-size: 18px;
}
.comment  #notify input {
    width: fit-content;
    margin-right :10px;
}
#submit_comment {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #89CFFD;
    color: black;
    border: 1px solid lightgrey;
    border-radius: 10px;
}


